@model CoreDepartman.Models.Personel
@{
    ViewData["Title"] = "YeniPersonel";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />
<form class="form-group" method="post">
    <b>Personel Ad</b>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control"})
    <br />
    <b>Personel Soyad</b>
    @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
    <br />
    <b>Personel Şehir</b>
    @Html.TextBoxFor(x => x.Sehir, new { @class = "form-control" })
    <br />
    <b>Personel Depart</b>
    @Html.DropDownListFor(x=>x.depart.DepartmanAd,(List<SelectListItem>)ViewBag.dgr,new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Personel Ekle</button>
</form>


