
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>MVC Kamp Tablo</h3>
<br />
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Okul dersleri</td>
        <td>True</td>
        <td><button class="btn btn-warning ">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>SüperLig</td>
        <td>True</td>
        <td><button class="btn btn-warning ">Güncelle</button></td>
    </tr>
    </tr>
    <tr>
        <td>3</td>
        <td>Edebiyat</td>
        <td>Beyaz gemi</td>
        <td>True</td>
        <td><button class="btn btn-warning ">Güncelle</button></td>
    </tr>

</table>

<button class="btn btn-danger">Yeni kategori</button>
<button class="btn btn-primary">Kategori Listesi</button>
<button class="btn btn-success">Kategori Açıklamaları</button>

