
@{
    ViewBag.Title = "YeniSınav";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form method="post" class="form-group">
        <div>
            <label>Öğrenci Id</label>
            <input type="text" class="form-control" name="OgrId" />
        </div>
        <br />
        <div>
            <label>Ders Adı</label>
            <input type="text" class="form-control" name="DersId" />
        </div>
        <br />
        <div>
            <label>Sınav1</label>
            <input type="text" class="form-control" name="Sınav1" />
        </div>
        <br />
        <div>
            <label>Sınav2</label>
            <input type="text" class="form-control" name="Sınav2" />
        </div><br />
        <div>
            <label>Sınav3</label>
            <input type="text" class="form-control" name="Sınav3" />
        </div><br />
        <div>
            <label>Proje</label>
            <input type="text" class="form-control" name="Proje" />
        </div><br />
        <div>
            <label>Ortalama</label>
            <input type="text" class="form-control" name="Ortalama" />
        </div><br />
        <div>
            <label>Durum</label>
            <input type="text" class="form-control" name="Durum" />
        </div><br />
        <div>
            <button class="btn btn-primary">Sınav Ekle</button>
        </div>
    </form>
</div>

